.container {
  line-height: 1.8;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.posts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.posts-list li {
  margin-bottom: 10px;
}

.posts-list a {
  color: rgb(0, 94, 255);
  text-decoration: underline;
}

.posts-list a:hover {
  color: rgb(0, 21, 139);
}

.admin-link {
  display: block;
  background-color: rgb(255, 200, 0);
  color: black;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 100;
}

.post-article {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.post-box {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date {
  text-align: right;
}

.month-group {
  background-color: aliceblue;
  width: 70%;
  margin: 0 auto;
}

.month-title {
  border-bottom: 1px solid #bdc0c4;
}

.toPosts {
  color:rgb(72, 107, 250);
  text-decoration: underline;
}

.titleAndWriter {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 0.5rem; 
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}


.post-title {
  font-size: 20px;
}
